<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Liudmyla Tkachenko</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
      <div class="nav-wrapper black">
        <a href="home" class="text-large" id="navNameFont">Liudmyla Tkachenko</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down white-text">
          <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
         <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <br><br>

      <div class="container">
       <!-- Page Content goes here -->

 <div class="contact-form z-depth-1" id="contact">
       <div class="row">                       <h2>Contact Me</h2>
         <form id="contactForm" role="form"
                          action="/process?form=contact-form" method="POST" data-toggle="validator">
             <div id="msgSubmit" class="h3 text-center"></div>
             <div class="input-field col m12 s12 wow fadeIn a2">
                 <label for="name" class="h4 blue-text">Full Name *</label>
                 <input type="text" name="name" class="form-control validate black-text" id="" required data-error="NEW ERROR MESSAGE">
             </div>
             <div class="input-field col m12 s12 wow fadeIn a4">
                 <label for="email" class="h4 blue-text">Email *</label>
                 <input type="email" name="email" class="form-control validate black-text" id="" required>
             </div>
             <div class="input-field col m12 s12 wow fadeIn a3">
                 <label for="last_name" class="h4 blue-text">Subject *</label>
                 <input type="text" name="subject" class="form-control validate black-text" id="" required>
             </div>

             <div class="input-field col m12 s12 wow fadeIn a6">
                 <label for="message" class="h4 blue-text">Message *</label>
                 <input type="text" name="message" class="form-control validate black-text" id="" required>

             </div>
             <button type="submit" id="form-submit" class="btn btn-success waves-effect wow fadeIn a7">Submit</button>
         </form>
     </div>
 </div>
     </div>
     <footer class="page-footer black">
       <div class="footer-copyright left">
         © 2017 Liudmyla Tkachenko
       </div>
       <div class="">
         <a class="white-text text-lighten-4 right" id="designedLink" href="http://www.stephendoe.com/">Designed by Stephen Doe</a>
       </div>
     </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/materialize.js"></script>


  </body>
</html>
