<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Liudmyla Tkachenko</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
      <div class="nav-wrapper black">
        <a href="home" class="text-large" id="navNameFont">Liudmyla Tkachenko</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down white-text">
          <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
         <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>

  <div class="parallax-container">
    <div class="parallax"><img src="/images/image12.JPG"></div>
  </div>
    <div class="container">
       <!-- Page Content goes here -->
      <div class="row">
          <div class="col s12"> <p class="flow-text">My name is Liudmyla Tkachenko. I was born in the Ukraine.
            I started my modeling career when I was 16 years old. My credits in the Ukraine include Fashion Week, various magazines, and catalogs.
             When I was 20 I started to work out side of my native country. My first professional contract was with a modeling agency in Hong Kong.
             I spent 3 years in Asia working in China, Thailand, Hong Kong, and Turkey. While there I appeared at Hong Kong fashion week,
             Shanghai Fashion Week, and  Shenzhen Fashion week, and was also featured in bikini
              and clothing catalogs, and magazines. I've also done TV,  factory advertising, car advertising, and hotel advertising.
               After working in Asia I moved to the United States where I've participated in New York Fashion week, multiple adverts
               and also had some work printed in a Miami magazine. I am Currently signed with EMG models NYC and doing a lot of events and photo shoots
                in the New York and LA area. For booking consideration please feel free to contact me.</p>

          </div>
      </div>
    </div>
          <footer class="page-footer black">
            <div class="footer-copyright left">
              © 2017 Liudmyla Tkachenko
            </div>
            <div class="">
              <a class="white-text text-lighten-4 right" id="designedLink" href="http://www.stephendoe.com/">Designed by Stephen Doe</a>
            </div>
          </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
