<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Liudmyla Tkachenko</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
      <div class="nav-wrapper black">
        <a href="home" class="text-large" id="navNameFont">Liudmyla Tkachenko</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down white-text">
          <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
         <li><a href="home">Home</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <br><br>

      <div class="container">
       <!-- Page Content goes here -->
      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image1.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image2.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image3.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image4.JPG"></div>
      </div>
      <br>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image5.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image6.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image7.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image8.JPG"></div>
      </div>
      <br>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image9.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image10.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image11.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image12.JPG"></div>
      </div>
      <br>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image13.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image14.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image15.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image16.JPG"></div>
      </div>
      <br>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image17.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image18.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image19.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image20.JPG"></div>
      </div>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image21.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image22.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image23.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image24.JPG"></div>
      </div>

      <div class="row">
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image25.PNG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src="/images/image26.JPG"></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src=""></div>
        <div class="col s3" id="portfolioImage"><img class="responsive-img materialboxed" src=""></div>
      </div>

    </div>

    <footer class="page-footer black">
      <div class="footer-copyright left">
        © 2017 Liudmyla Tkachenko
      </div>
      <div class="">
        <a class="white-text text-lighten-4 right" id="designedLink" href="http://www.stephendoe.com/">Designed by Stephen Doe</a>
      </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
